{include file="header.html"}
<div id="container">
<div id="bannertop"><img src="{$theme_abs}images/logo-trans.png" alt="WikiCMS Logo" /></div>
<table style="width: 100%; border-collapse: collapse; border-spacing: 0px;">
<tr style="height: 54px;">
  <td class="left-bar">&nbsp;</td>
  <td class="mid-bar"><div id="navcontainer">{$nav_ul}</div></td>
  <td class="right-bar">&nbsp;</td>
</tr>
</table>
<div id="breadcrumb">{$breadcrumb}</div>
<div id="content">
  <div id="sidebar-a">{$menu_area}</div>
  <div style="overflow: auto;">{$page_content}</div>
</div>
<div id="footer">{$page_footer}</div>
</div>
{include file="footer.html"}