/* Import default forms css because we don't need to change it */
@import "../default/forms.css";

/* Layout */
/* ******************************* */

body{
	/*background: #D5DBE1;*/
	font-family: "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
	font-size: 0.82em;
	line-height: 1.6em;
	height: 100%;
	}
	
img {
	border: 0px;
}

#container{
	margin: 10px auto;
	padding: 10px;
	margin-left: 90px;
	margin-right: 90px;
	width: auto;
	}

#bannertop{
	margin-bottom: 15px;
	}

#banner{
	padding: 1px;
	background-color: #ffffff;
	}

#content {
	padding: 5px;
	margin-left: 0px;
	margin-top: 0px;
}


#sidebar-a{ 
	margin: 0px 0px 9px 15px; 
	padding: 12px; 
	float: right; 
	width: 150px; 
	background-color: rgb(235, 235, 235);
	border: 1px solid #B8A8E1;
	border-right: .5em solid #DC783B;
	}

#sidebar-a a {
	color: #000;
}

#sidebar-a a:link, #sidebar a:visited{
	color: #000;
	}
#sidebar-a a:hover{
	background-color: #fff;
	color: #DC783B;
	}

#footer{ 
	clear: both; 
	text-align: right;
	color: #CCCCCC;
	font-size: 85%;
	}

a:link, a:active, a:visited{
	color: #000;
	}
	
a:hover{
	color: #DC783B;
	}

hr {
	color: #D5DBE1;
	height: 2px;
	}

#navlist {
padding-left: 5px;
padding-bottom: 4px;
}

#navlist li{
	display: inline;
	margin: 0px;
	background-repeat: no-repeat;
	}
	
#navlist a{
	padding: 5px;
	text-decoration: none;
	}

#navlist a:link, #navlist a:visited{
	color: #000000;
	}

#navlist a:hover{
	color: #ffffff;
	}

#footer li a {
padding-right : 2em;
text-transform : uppercase;
} 

#footer li{
	display: inline;
	}
	
#footer a{
	text-decoration: none;
	color: #dc783b;
	font-weight: 500;
	text-transform: uppercase;
	}
	
#footer a:hover{
	color: #000;
	}

#breadcrumb{
	margin-top: 10px;
	margin-left: 6px;
	color: #DC783B;
}

.geshi_code{
	font-family: 'lucida console', 'Courier New', monospace;
	overflow: auto;
	display:block;
	padding:3px;
	background-color: #eee;
	border: 1px solid #d3d3d6;
}

code {
	font-family: 'lucida console', 'Courier New', monospace;
	overflow: auto;
	display:block;
	white-space: pre;
	padding:3px;
	background-color: #eee;
	border: 1px solid #d3d3d6;
}

#content h1 {
	font-size: 170%;
}

#content h2 {
	 font-size: 150%
}

#content h3 {
	 font-size: 130%
}

#content h4 {
	 font-size: 110%
}

.comment {
	border: 2px solid #7F98A7;
	padding: 0px 15px 0px 15px;
	margin: 10px;
}

.comment-note {
	text-align: right;
	color: #CCCCCC;
	font-size: 80%;
}

.left-bar {
  background-image: url(images/left-bar.gif);
  background-repeat: no-repeat;
  width: 17px;
}
.mid-bar {
  background-image: url(images/mid-bar.gif);
  background-repeat: repeat-x;
}
.right-bar {
	background-image: url(images/right-bar.gif);
	background-repeat: no-repeat;
	width: 21px;
}