/* Import default forms css because we don't need to change it */
@import "forms.css";

body {
	font: 11px/18px helvetica, arial, verdana, sans-serif;
	margin:0;
	padding:0;
	background: #6C7C8B url("images/bg.png");
}

div#outerwrap {
	border-left: 2px solid #363636;
	border-right: 2px solid #363636;
	width: 754px;
	margin:0 auto;
	text-align: left;
	background: #fff url("images/wrap.png");
}

#maincontent {
	width:690px;
	padding-top: 25px;
	padding-left:30px;
	margin:0px;
}

#header {
	background: #57575D url("images/logo.png");
	height: 173px;
	padding: 5px;
	border-top: 3px solid #7a8a99;
	border-bottom: 8px solid #7a8a99;
	font-family: "Century Gothic", "Lucida Grande", Tahoma, Verdana, arial, helvetica, sans-serif;
}

#header h1 a:hover {
	color: #cedeed;
}

#header h1{
	padding-top: 50px;
	text-align:center;
	font-size: 20px;
	margin-bottom:0px;
}

#header h1 a {
	color: #7e8e9d;
	color: #9eaebd;
	font-weight: normal;
	text-decoration: none;
}

a:link, a:visited{
	text-decoration: none;
	font-weight:bold;
	color: #2b3e5f;
}
a:hover{
	text-decoration: underline;
}

#footer a{
	color: #f1f1f5;
}

#navlist a:link, #navlist a:visited {
	float: left;
	color: #333;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 4px 10px 0 10px;
	padding-bottom: 2px;
}

#navlist a:hover{
	color: #68688a;
}

#navdiv{
	border-top: 30px solid #718191;
	border-bottom: 1px solid #bbb;
	background: #57575D url("images/navbar.png");
	font-size: 9px;
	color: #eee;
	height: 23px;
}

#navlist {
	position: relative;
	margin: 0;
	padding:0;
}

#navlist li {
	margin: 0; 
	padding: 0;
	display: inline;
	list-style-type: none;
}

.entrybody p, form p, .commentbody p{
	margin-top:0px;
	margin-left: 0px;
	padding-left:0px;
}

.entrybody{
	color: #424d53;
	font-size: 11px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	padding-top: 5px;
}

#footer {
	background: #40424A;
	padding-left:30px;
	letter-spacing:0px;
	font-size:9px;
	color: #f1f1f1;
	padding-right:30px;
	border-left: 1px solid #6D6D74;
	border-right: 1px solid #6D6D74;
	border-bottom: 1px solid #6D6D74;
	clear:both;
}

submit{
	font-size: 9px;
	border:1px #7F9DB9 solid;
	background:#f1f1f3;
	color:#71717B;
}

input {
	color:#51515B;
	border:1px #7F9D99 solid;
	background:#f3f3f5;
	font-size: 9px;
	padding-left: 3px;
}

textarea {
	border: 1px solid #7F9DB9;
	color:#71717B;
	font-family: 'lucida console', 'Courier New', monospace;
	font-size: 11px;
	padding: 3px;
	background:#f3f3f5;
}

#header img{
	padding: 0;
	margin:0px;
	border:none;
	width:750px;
}

img {
	border: 0;
}

code{
	font-family: 'lucida console', 'Courier New', monospace;
	font-size: 10px;
	display:block;
	padding:3px;
	background-color: #eee;
	border: 1px solid #d3d3d6;
}

blockquote{
	background-color: #f5f5ed;
	border: 1px solid #e5e5dd;
	color: #45453d;
	margin: 0px 0px 10px 0px;
	padding: 8px 8px 0px 8px;
}

hr {
	height: 1px;
	color: #fff;
}

.breadcrumb {
	font-style: italic;
}