{html_doctype sendheaders=false version=1.1}
<html>
<head>
<title>{$page_title}</title>
<link rel='alternate' type='application/rss+xml' title='wCMS Project News Feed' href='http://developer.berlios.de/export/rss20_bsnews.php?group_id=4484' />
<link rel='stylesheet' href='{$theme_abs}theme.css' type='text/css' />

<!-- compliance patch for microsoft browsers -->
<!--[if lt IE 7]><script src="{$templates_abs}default/ie7/ie7-standard-p.js" type="text/javascript"></script><![endif]-->

<script type="text/javascript" src="{$templates_abs}default/js/wz_tooltip.js"></script>

</head>
<body>
